.form-group {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  gap: 10px;
  margin-left: 5px;
}

.selects {
  display: flex;
  align-items: center;
  height: 100px;
  gap: 10px;
  width: 25vw;
}

.btn-criar {
  background-color: #282c34;
  color: white;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.btn-criar:hover {
  background-color: #004CBD;
  color: white;
}

.resposta {
  color: #282c34;
  text-align: center;
}


.upload-label {
  display: inline-block; 
  font-size: 16px;
  border: none;
  transition: background-color 0.3s ease;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  margin-left: 40px;
}

.upload-label:hover {
  background-color: #f0f0f0;
}

.uploaded-label {
  display: inline-block; 
  font-size: 16px;
  border: none;
  transition: background-color 0.3s ease;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #004CBD;
  cursor: pointer;
  margin-left: 40px;
  color: #ccc;
}

.upload-label:hover {
  background-color: #f0f0f0;
}